<!-- views/pages/search.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
		<% include ../partials/searchForm %>
		
		
		<div class="container">
			<% if(loadResults){ %>
			<p>Displaying the <%= (query.page - 1)*query.num_results + 1 %>
				through <%= (query.page - 1)*query.num_results + numResults %>
				most recent filings.</p>
			<div class="row">
				<div class="col-md-11">
					<% if( parseInt(query.page) != 1 ){ %>
					<form class="form-inline" action="/search" method="get">
						<input type="hidden"name="ticker_symbol" value = "<%= query.ticker_symbol %>" >
						<input type="hidden" name="num_results" value = "<%= query.num_results%>" >
						<input type="hidden" name="page" value=" <%= parseInt(query.page) - 1 %>">
						<button type="submit" class="btn btn-primary">Previous <%= query.num_results %></button>
					</form>
					<% } %>
				</div>
				<div class="col-md-1">
					<% if(numResults == query.num_results ){ %>
					<form class="form-inline" action="/search" method="get">
						<input type="hidden"name="ticker_symbol" value = "<%= query.ticker_symbol %>" >
						<input type="hidden" name="num_results" value = "<%= query.num_results%>" >
						<input type="hidden" name="page" value=" <%= parseInt(query.page) + 1 %>">
						<button type="submit" class="btn btn-primary">Next <%= query.num_results %></button>
					</form>
					<% } %>
				</div>
			</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Filing Type</th>
							<th>Description</th>
							<th>Filing Date</th>
							<th>HTML version</th>
						</tr>
					</thead>
					<tbody>
						<% filings.forEach(function(entry) { %>
							<tr>
								<th> <%= entry.filingType %> </th>
								<th> <%= entry.description %></th>
								<th> <%= entry.date %></th>
								<th> <form id="form-html" target="_blank" method="post" action="/getHTML">
									<input type="hidden" name="filing_index" value="<%=entry.link%>"></input>
									<button type="submit" class="badge">Document Link</button>
								</form></th>
							</tr>
						<% }); %>
					</tbody>
				</table>
			<% } else{ %>  
			   <h1>No results found for ticker symbol "<%= query.ticker_symbol %>" </h1>
			<% } %>
		</div>
		
    </main>

    <footer>

    </footer>

</body></html>