<!-- views/pages/search.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
		<% include ../partials/searchForm %>
		
		
		<div class="container">
			<% if(loadResults){ %>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Filing Type</th>
							<th>Description</th>
							<th>Filing Date</th>
							<th>HTML version</th>
						</tr>
					</thead>
					<tbody>
						<% filings.forEach(function(entry) { %>
							<tr>
								<th> <%= entry.filingType %> </th>
								<th> <%= entry.description %></th>
								<th> <%= entry.date%></th>
								<th> <a href="<%= entry.link %>" class="badge"> Link </a> </th>
							</tr>
						<% }); %>
					</tbody>
				</table>
			<% } else{ %>  
			   <h1>No results found for ticker symbol "<%= ticker %>" </h1>
			<% } %>

			
		</div>
		
    </main>

    <footer>

    </footer>

</body>
</html>